// fonts
$font-franklin: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
// colors
$color-salmon: rgb(234, 35, 85);
$color-white: white;
$color-pink: rgb(255, 181, 185);
$color-grey:rgb(143, 142, 142);
$color-black: black;