@import "core/variables";
@import "core/reset";
  


.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 100vw;
 background-image: url(../images/wp9643742.jpg);
  background-position: center;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.characters-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:8px;


}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100px;
  background-color: rgb(255, 181, 185);
  
}

.title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  &__image {
 width: 100px;
 height: 125px;
  }
  &__name{
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  &__dead{
    font-size: 11px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 6px;
   
  }
}

.fav {
  background-color: rgb(234, 35, 85);
}

.favorites-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}
.favorite-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:8px;
}

.title-fav{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;

}
