@import 'core/variables';
@import 'core/reset';


.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}
.search-bar{
    margin-top: 100px;
}

.list{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item{
    list-style: none;
  
}

.character{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    &__image{
    width: 200px;
    height: 300px;
}
};